@import 'bootstrap';
@import 'bootstrap/theme';
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  background-color: $background-color;
}

.navbar-nav {
  display: inline-flex;
}

.dropdown-toggle {
  margin-top: 8.5px;
}

.plant-input {
  background-color: $plant-form-background;
  border: 5px solid;
  border-radius: 50px;
  padding: 20px;
  padding-bottom: 15px;
  width: 40%;
}

.plant-button {
  margin-left: 30%;
  margin-top: 5%;
}
