@import 'bootstrap';
@import 'bootstrap/theme';
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Raleway:200);
$open-sans: Open Sans, sans-serif;
$raleway: Raleway, sans-serif;

body {
  background-color: $background-color;
  background-image: url('http://i.imgur.com/IxCIMet.png');
  background-repeat: repeat;
  font-family: $open-sans;
}

body.ember-application {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  display: inline-flex;
}

#nav-color {
  background-color: $navbar-light-green;
}

.dropdown-toggle {
  margin-top: 8.5px;
}

.plant-input {
  background-color: $plant-form-background;
  border: 5px solid;
  border-radius: 50px;
  padding: 20px;
  padding-bottom: 15px;
  width: 40%;
}

.plant-button {
  margin-left: 30%;
  margin-top: 5%;
}

.index-background {
  background-image: url('http://i.imgur.com/yyO2reY.jpg');
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-left: -260px;
  margin-top: -39px;
  width: 160%;
}

.index-header {
  color: $white;
  font-family: $raleway;
  font-size: 80px;
  padding-top: 30px;
  text-align: center;
}

.secondary-index-header {
  background-color: $index-dark-green;
  border: 2px solid;
  border-color: $index-darker-green;
  border-radius: 150px;
  color: $white;
  font-family: $raleway;
  font-size: 20px;
  margin-left: 330px;
  margin-top: 86px;
  opacity: .65;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: -15%;
  position: absolute;
  text-align: center;
}

.section-header {
  color: #fff;
  font-size: 50px;
  padding-bottom: 10px;
  text-align: center;
}

.plant-display {
  background-color: $background-color;
  border: 3px solid;
  border-color: $white;
  border-radius: 10px;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  overflow: auto;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  width: 280px;
}

.harvest-display {
  background-color: $background-color;
  border: 3px solid;
  border-color: $white;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 20px;
  overflow: auto;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  width: 280px;
}

.door-entry {
  height: 70%;
  margin-left: 30%;
  margin-top: 20px;
  width: 20%;
}

.clickable-door {
  height: 100%;
  width: 100%;
}

.button-center {
  text-align: center;
}
#door-arrow {
  font-size: 80px;
}

.rotation1 {
  -webkit-transform: rotate(30deg);
}

.rotation2 {
  -webkit-transform: rotate(330deg);
}

@media (max-width: 500px) {
  .index-header {
    font-size: 30px;
  }
}
