@import 'bootstrap';
@import 'bootstrap/theme';
@import 'colors';

body {
  background-color: $background-color;
}

.navbar-nav {
  display: inline-flex;
}

.dropdown-toggle {
  margin-top: 8.5px;
}

.plant-input {
  width: 40%;
  background-color: #bae3a6;
  padding-bottom: 15px;
  padding: 20px;
  border: 5px solid;
  border-radius: 50px;
}

.plant-button {
  margin-left: 30%;
  margin-top: 5%;
}
