@import 'bootstrap';
@import 'bootstrap/theme';
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Raleway:200);
$open-sans: Open Sans, sans-serif;
$raleway: Raleway, sans-serif;

body {
  background-color: $background-color;
  background-image: url('http://i.imgur.com/IxCIMet.png');
  background-repeat: repeat;
  font-family: $open-sans;
}

body.ember-application {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  display: inline-flex;
}

#nav-color {
  background-color: $navbar-light-green;
}

.dropdown-toggle {
  margin-top: 8.5px;
}

.plant-input {
  background-color: $plant-form-background;
  border: 5px solid;
  border-radius: 50px;
  padding: 20px;
  padding-bottom: 15px;
  width: 40%;
}

.plant-button {
  margin-left: 30%;
  margin-top: 5%;
}

.index-background {
  background-image: url('http://i.imgur.com/yyO2reY.jpg');
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-left: -260px;
  margin-top: -39px;
  width: 160%;
}

.index-header {
  color: $white;
  font-family: $raleway;
  font-size: 80px;
  padding-top: 30px;
  text-align: center;
}

.secondary-index-header {
  background-color: $index-dark-green;
  border: 2px solid;
  border-color: $index-darker-green;
  border-radius: 150px;
  color: $white;
  font-family: $raleway;
  font-size: 20px;
  margin-left: 330px;
  margin-top: 86px;
  opacity: .65;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: -15%;
  position: absolute;
  text-align: center;
}

.section-header {
  color: #fff;
  font-size: 50px;
  padding-bottom: 10px;
  text-align: center;
}

.plant-display {
  background-color: $background-color;
  border: 3px solid;
  border-color: $white;
  border-radius: 10px;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  overflow: auto;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  width: 280px;
}

.harvest-display {
  background-color: $background-color;
  border: 3px solid;
  border-color: $white;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 20px;
  overflow: auto;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  width: 280px;
}

.edit-display {
  background-color: $background-color;
  border: 3px solid;
  border-color: $white;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 20px;
  overflow: auto;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  width: 280px;
}

.door-entry {
  height: 70%;
  margin-left: 30%;
  margin-top: 20px;
  width: 20%;
}

.clickable-door {
  height: 100%;
  width: 100%;
}

.button-center {
  text-align: center;
}
#door-arrow {
  font-size: 80px;
}

.rotation1 {
  -webkit-transform: rotate(30deg);
}

.rotation2 {
  -webkit-transform: rotate(330deg);
}

#demo-credentials {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 14px;
  padding: 0 3px 0 3px;
}

.recipe-search {
  float: right;
}

.recipe-search h4 {
  color: $white;
  margin-left: -16px;
}

.btn-secondary {
  background-color: $edit-btn-teal;
  color: $white;
}

@media (min-width: 600px) {
  .recipe-search {
    margin-top: -130px;
  }
  .mobile-index-header {
    display: none;
  }
  .nav-break {
    display: none;
  }
}

@media (max-width: 600px) {

  #demo-credentials {
    display: none;
  }

  .index-header {
    font-size: 30px;
  }

  .mobile-index-header {
    background-color: #1c4759;
    border: 2px solid;
    border-color: #0d222b;
    border-radius: 30px 30px 10px 10px;
    color: $white;
    display: inline;
    font-family: $raleway;
    margin-left: -53px;
    margin-top: 180px;
    height: 70px;
    font-size: 20px;
    opacity: .60;
    padding-right: 33px;
    width: 214px;
    position: absolute;
    text-align: center;
  }

  #mobile-door-arrow {
    color: #4da2c7;
    font-size: 40px;
  }

  .rotation3 {
    -webkit-transform: rotate(180deg);
    float: left;
  }

  .rotation4 {
    -webkit-transform: rotate(0deg);
    margin-top: -73px;
    margin-left: 180px;
    position: absolute;
  }

  .plant-input {
    width: 100%;
  }

  .navbar-nav {
    float: left;
  }

  #user-nav {
    display: none;
  }

  .navbar-collapse {
    margin-top: 10px;
    padding-top: 8px;
    text-align: center;
  }

  .navbar-collapse li {
    margin-top: -22px;
  }

  .nav-dropdown {
    margin-top: -26px;
    padding-bottom: 9px;
  }

  .nav-dropdown li {
    margin-top: -10px;
    text-align: center;
    font-size: 16px;
  }

  #change-pass {
    margin-left: -190px;
    margin-top: -78px;
    position: absolute;
    text-align: center;
    width: 25%;
  }

  #sign-out {
    margin-left: -110px;
    margin-top: -78px;
    position: absolute;
    text-align: center;
    width: 25%;
  }

  #nav-break {
    font-size: 25px;
    margin-left: -140px;
    margin-top: -68px;
    position: absolute;
    text-align: center;
    width: 25%;
  }

  .index-header {
    margin-left: 85px;
    font-size: 50px;
  }

  .door-entry {
    height: 25%;
    margin-left: 190px;
    margin-top: 230px;
    position: absolute;
    width: 100px;
  }

  .secondary-index-header {
    display: none;
  }

  .index-background {
    background-image: url('http://i.imgur.com/RaR5utJ.jpg');
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 107vh;
    margin-left: -95px;
    margin-top: -20px;
    width: 137%;
  }
}
