<h1 class="section-header">Perennials</h1>
{{#each model.plant as |eachPlant|}}
  {{perennial-component plant=eachPlant
    routeUpdatePlant='updatePlant'
    routeDestroyPlant='destroyPlant'}}
{{/each}}
