<div class="index-background">
  <h1 class="index-header">Plantr</h1>
  <div class="door-entry">
    <p class="secondary-index-header"><div class="rotation1"><span id=doorArrow>&#8665;</span></div><br>Create your garden<br> within!<br><div class="rotation2"><span id=doorArrow>&#8662;</span></div></p>
    {{#link-to "plants"}}
      <div class="clickable-door">
      </div>
    {{/link-to}}
  </div>
</div>
