<div class="index-background">
  <h1 class="index-header">Plantr</h1>
  <div class="door-entry">
    <!--wrap arrows in divs to be able to rotate them-->
    <div class="secondary-index-header">
      <div class="rotation1">
        <span id=door-arrow>&#8665;</span>
      </div>
      <p><br>Create your garden<br> within!<br></p>
      <div class="rotation2">
        <span id=door-arrow>&#8662;</span>
      </div>
    </div>
    <div class="mobile-index-header">
      <div class="rotation3">
        <span id=mobile-door-arrow>&#8665;</span>
      </div>
      <p>Create your garden within</p>
      <div class="rotation4">
        <span id=mobile-door-arrow>&#8662;</span>
      </div>
    </div>
    {{#link-to "plants"}}
      <div class="clickable-door">
      </div>
    {{/link-to}}
  </div>
</div>
