<h1 class="section-header">My Harvest</h1>
{{#each model.plant as |eachPlant|}}
  {{harvest-component plant=eachPlant
    routeUpdatePlant='updatePlant'
    routeDestroyPlant='destroyPlant'}}
{{/each}}
<form class="recipe-search">
  <h4>Get recipes with your ingredients</h4>
  <input id="search-input" type="text" name=form.name placeholder="Enter Ingredients">
  <button class="btn btn-success" type="submit">Search</button>
</form>
