<h1 class="section-header">My Harvest</h1>
{{#each model.plant as |eachPlant|}}
  {{harvest-component plant=eachPlant
    routeUpdatePlant='updatePlant'
    routeDestroyPlant='destroyPlant'}}
{{/each}}
