<h1 class="section-header">Vegetables</h1>
{{#each model.plant as |eachPlant|}}
  {{vegetable-component plant=eachPlant
    routeUpdatePlant='updatePlant'
    routeDestroyPlant='destroyPlant'}}
{{/each}}
